* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

article.post {
  background-color: white;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 white;
}

header.post_header {
  background-color: #dae2ea;
  padding: 10px 0;
}

h3 {
  text-align: center;
}

ul {
  list-style-type: none;
  float: left;
  text-align: left;
}

.container {
  overflow:auto;
}

#top-bar {
  background-color:#333;
  padding: 5px;
  height: 70px;
  overflow: hidden;
}

#sidebar-left {
  float:left;
  width:20%;
  margin-top: 7px;
  margin-left: 7px;
  text-align:center;
  background-color: white;
  margin-top: 7px;
}

#sidebar-right {
  background-color: white;
  float:left;
  width:20%;
  padding:15px;
  margin-top: 7px;
  margin-right: 7px;
  text-align:center;
}

.menuitem {
  background-color:#333;
  padding:8px;
  margin-top:7px;
}

#content {
  padding: 25px;
  margin-top: 7px;
  display: inline-block;
  float:left;
  width:58.7%;
  padding:0 10px;
}

#profile-pic{
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 70%;
  display: block;
  border-radius: 50%;
}



body {
  font-family:Verdana;
  background-color:#aaaaaa;
}

@media only screen and (max-width:620px) {
  /* For mobile phones: */
  #sidebar-left, #content, #sidebar-right {
    width:100%;
  }
}



#top-img {
  /* max-width: 100%; */
  position: absolute;
  /* left: 0px; */
  float: left;
  padding: 10px;
  height: 10%; 
  width: 10%; 
}


#foot-note{
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  text-align: center;
}


/* FORM 2 - GEO-LOCATION AND MAP */
.float-left {
  width: 40%;
  float: left;
}
.float-right {
  float: right;
}

#google-map {
    margin: 1em auto; 
    background-color: white; 
    border: 2px #ccc solid; 
    width:100%;
    height:200px;
}

/* FORM 3 - VIDEO */
video {
  width: 65%;
  height: 40%;
  border: 1px solid #202020;

}

.center-video {
  text-align: center;
}



