* {
  box-sizing: border-box;
}

.container {
  overflow:auto;
}

#sidebar-left {
  float:left;
  width:20%;
  text-align:center;
}

.menuitem {
  background-color:#333;
  padding:8px;
  margin-top:0px;
}

#content {
  float:left;
  width:60%;
  padding:0 20px;
}

#profile-pic{
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 70%;
  display: block;
}

#sidebar-right {
  background-color:#333;
  float:left;
  width:20%;
  padding:15px;
  margin-top:0px;
  text-align:center;
}

body {
  font-family:Verdana;
  color:#aaaaaa;
  margin: 0;
}

@media only screen and (max-width:620px) {
  /* For mobile phones: */
  #sidebar-left, #content, #sidebar-right {
    width:100%;
  }
}

#top-img {
  /* max-width: 100%; */
  position: absolute;
  /* left: 0px; */
  float: left;
  padding: 10px;
  height: 10%; 
  width: 10%; 
}

#top-bar {
  background-color:#333;
  padding: 5px;
  height: 70px;
  overflow: hidden;
}

#foot-note{
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  text-align: center;
}

/* POST 1 - FORM WITH PERSONAL INFO */
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    height: 450px;
}

/* FORM 2 - GEO-LOCATION AND MAP */
.float-left {
  width: 40%;
  float: left;
}
.float-right {
  float: right;
}

#google-map {
    margin: 1em auto; 
    background-color: white; 
    border: 2px #ccc solid; 
    width:100%;
    height:400px;
}

/* FORM 3 - VIDEO */
video {
 width: 65%;
 height: 40%;
 border: 1px solid #202020;
}



